.accordion-item {
   @apply relative;
   &:not(:last-of-type) {
      @apply mb-12;
      @screen md {
         @apply mb-10;
      }
   }
}

.accordion-button {
   @apply flex items-center text-left focus:outline-none cursor-pointer;
   @screen md {
      @apply ml-26;
      &:before {
         content: "";
         @apply block absolute left-0 bg-gray-700 h-px w-0 transition-all duration-300 ease-linear;
      }
      &[aria-expanded="true"],
      &[aria-selected="true"] {
         &:before {
            @apply w-20;
         }
      }
   }
}

.accordion-panel {
   animation: fadein 0.5s ease-in;
   @apply pt-4;
   @screen md {
      @apply ml-26;
   }
   p {
      &:last-child {
         @apply mb-0;
      }
   }
   &[hidden] {
      @apply block;
      @screen md {
         @apply hidden;
      }
   }
}

.accordion-image {
   animation: fadein 0.5s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
